
.footer
{
	height: 460px;
	color:white;
}

.redes-link
{
	display: inline-block;
	vertical-align: top;
	width: 60px;
	height: 60px;
	margin-top: 3em;
	margin-left: 3em;
    margin-right: 3em;

}
.center-redes
{
	width: 100%;
	text-align: center;
	border-radius: 2em;
	background: black;
	display: inline-block;
	padding-bottom: 2em;
}
.f-logo
{
	margin: 0 auto;
	background: url(../img/f-logo.png) no-repeat 50% ;
	height: 140px;
    
	/*width: 450px;*/
}
.f-leyenda
{
	font-family: Lato-regular;
	text-align: center;
    margin-top: 6em;
}
.text-hairline
{
	font-family: Lato-hairline;
	margin-top: 1em;
    letter-spacing: 0.5em;
    font-size: 1.5em;
}